.content {
    margin-top: 5.5em;
    width: 90%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cv {
    height: fit-content;
    width: 65vw;
}

h2 {
    margin-bottom: 0;
}

p {
    margin-top: .5rem;
    margin-bottom: 0;
}

ul {
    margin-top: 0.5rem;
}
li:not(:last-child) {
   margin-bottom: .5em;
}

table {
    margin-top: 0.4rem;
    margin-bottom: -0.1rem;
}

tr {
    height: 1.7em;
}

td {
    vertical-align: top;
}

.td_date {
    width: 5vw;
}

.td_date2 {
    width: 10vw;
}

.cv_link {
    margin-bottom: 1em;
    text-decoration: underline;
    text-decoration-thickness: .1px;
    text-decoration-color: var(--violet);
    text-underline-offset: 3px;
    background-image: linear-gradient( var(--violet),  var(--violet));
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 250ms ease-in-out;
}

.cv_link:hover {
    cursor: pointer;
    background-size: 100% 0.1em;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

    .content {
        font-size: 2.1em;
        margin-top: 5em;
    }

    h1 {
        margin-bottom: 0;
    }

    #cv {
        height: fit-content;
        width: 85vw;
    }

    .footer {
        font-size: 1.2em;
    }

    .td_date {
        width: 10vw;
    }

    .td_date2 {
        width: 15vw;
    }
}