.content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#homepage_image {
    width: 95%;
}

#marquee {
    width: 100%;
    overflow: hidden;
    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 99%);
    -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 99%);
}

#about_me {
    font-size: 0.9em;
    line-height: 1.3em;
    border-left: 1.5px solid darkgrey;
    border-right: 1.5px solid darkgrey;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.footer {
    padding-top: 0;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    
    .content {
        margin-top: 9em;
        width: 100%;
    }

    #homepage_image {
        width: 100%;
    }

    #about_me {
        font-size: 1.2em;
        border: 0;
    }
}