.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    position: relative;
}

body {
    max-height: 100%;
}

.marquee {
    color: black;
    width: 100%;
    overflow: hidden;
    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 99%);
    -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 99%);
    margin-bottom: 2vh;
    z-index: 1;
}

#landingscroll {
    display: flex;
    flex-direction: row;
    max-height: 80vh;
    height: 80vh;
    min-height: fit-content;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

#landingscroll div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

    .content {
        margin-top: 9em;
        width: 100%;
    }

    .marquee {
        margin-top: 2em;
        scale: 2;
        width: 50%;
        margin-bottom: 3em;
    }

    #landingscroll {
        display: none;
    }
}