.content {
    display: flex;
    height: 60vh;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .content {
        font-size: 2.5em;
    }
}