:root {
    --violet: #B2A4D4;
    --violethalf: #B2A4D4BC;
    --violetquarter: #b2a4d47a;
    --violetdark: #8f6ee1;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.otf');
}

@font-face {
    font-family: 'Standard';
    src: url('../fonts/OldStandardTT-Regular.ttf');
}

@font-face {
    font-family: 'StandardB';
    src: url('../fonts/OldStandardTT-Bold.ttf');
}

@font-face {
    font-family: 'StandardI';
    src: url('../fonts/OldStandardTT-Italic.ttf');
}

@font-face {
    font-family: 'Croissant';
    src: url('../fonts/CroissantOne-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.navbar {
    position: fixed;
    background-color: white;
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    font-family: Raleway;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav_name {
    font-size: 2em;
    user-select: none;
}

#nav_buttton_container {
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-left: auto;
}

.nav_button {
    font-size: 1.2em;

    text-decoration: none;
    background-image: linear-gradient( var(--violet),  var(--violet));
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 250ms ease-in-out;
}

.nav_button:hover {
    cursor: pointer;
    background-size: 100% 0.1em;
}

.nav_drop_content {
    overflow: hidden;
    height: 0px;
    -webkit-transition: height 200ms linear;
       -moz-transition: height 200ms linear;
        -ms-transition: height 200ms linear;
         -o-transition: height 200ms linear;
            transition: height 200ms linear;
    position: absolute;
    background-color: var(--violet);
    line-height: 1.5em;
}

.nav_drop_content a {
    padding: .4em;
    color: #FFF;
    text-decoration: none;
    background-image: linear-gradient(#FFF,  #FFF);
    background-size: 0% 0.1em;
    background-position-y: 90%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 250ms ease-in-out;
}

.nav_drop_content a:hover {
    cursor: pointer;
    background-size: 100% 0.1em;
}

.nav_dropdown {
    position: relative;
    display: inline-block;
}

.nav_dropdown:hover .nav_drop_content {
    height: 10.55em;
    -webkit-transition: height 200ms linear;
       -moz-transition: height 200ms linear;
        -ms-transition: height 200ms linear;
         -o-transition: height 200ms linear;
            transition: height 200ms linear;
}

.nav_drop_content2 {
    width: 11.45em;
    overflow: hidden;
    height: 0px;
    -webkit-transition: height 200ms linear;
       -moz-transition: height 200ms linear;
        -ms-transition: height 200ms linear;
         -o-transition: height 200ms linear;
            transition: height 200ms linear;
    position: absolute;
    background-color: var(--violet);
    line-height: 1.5em;
}

.nav_drop_content2 a {
    padding: .4em;
    color: #FFF;
    text-decoration: none;
    background-image: linear-gradient(#FFF,  #FFF);
    background-size: 0% 0.1em;
    background-position-y: 90%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 250ms ease-in-out;
}

.nav_drop_content2 a:hover {
    cursor: pointer;
    background-size: 100% 0.1em;
}

.nav_dropdown2 {
    position: relative;
    display: inline-block;
}

.nav_dropdown2:hover .nav_drop_content2 {
    height: 4.55em;
    -webkit-transition: height 200ms linear;
       -moz-transition: height 200ms linear;
        -ms-transition: height 200ms linear;
         -o-transition: height 200ms linear;
            transition: height 200ms linear;
}

.content {
    width: 65%;
    margin: auto;
    margin-top: 4.5em;
    font-size: 1.3em;
    font-family: Standard;
}

h1 {
    font-family: Quicksand;
}

h2 {
    font-family: Quicksand;
}

text-desc {
    font-family: Quicksand;
}

.footer {
    font-size: 1.2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    font-family: Quicksand;
}

.footer_links {
    display: flex;
    gap: 2em;
}

.footer_button {
    margin-bottom: 1em;
    text-decoration: underline;
    text-decoration-thickness: .1px;
    text-decoration-color: var(--violet);
    text-underline-offset: 3px;
    background-image: linear-gradient( var(--violet),  var(--violet));
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: background-size 250ms ease-in-out;
}

.footer_button:hover {
    cursor: pointer;
    background-size: 100% 0.1em;
}

a {
    text-decoration: none;
    color: #000;
}

#mobile_menu {
    display: none;
}

.hide {
    display: none;
}

.flex {
    display: flex !important;
}

.disabled {
    overflow: hidden !important;
    max-height: 90vh;
}

#nav_buttons_mobile {
    display: none;
}

.expand {
    height: 82.5em !important;
    overflow-y: visible;
}

.expand2 {
    height: 35.4em !important;
    overflow-y: visible;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

    #mobile_menu {
        display: block;
        position: fixed;
        z-index: 4;
        padding: 1em;
        padding-left: 2em;
        padding-top: 3.3em;
    }
    
    #mobile_menu:hover {
        cursor: pointer;
    }

    .navbar {
        justify-content: center;
        font-size: 2em;
        text-align: center;
        flex-direction: column;
        z-index: 2;
    }

    #nav_buttton_container {
        display: none;
    }

    #nav_buttons_mobile {
        background-color: white;
        margin: auto;
        flex-direction: row;
        align-items: center;
        user-select: none;
        font-family: Raleway;
        z-index: 1;
        padding-top: 10em;

        position: absolute;
        margin-top: 2em;
        display: none;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        min-height: 100vh;
        height: 100%;
        height: fit-content;
        overflow-x: hidden;
        overflow-y: scroll !important;
    }

    #nav_buttons_mobile .nav_button {
        padding: 1.7em;
        font-size: 3.4em;
        width: 100%;
        height: fit-content;
        background-color: var(--violet);
    }

    #nav_buttons_mobile .copyright {
        padding: 1em;
        font-size: 3em;
    }

    .mobile_dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: linear 250ms;
    }

    .mobile_dropdown a {
        width: 1000%;
        font-size: 2.7em;
        padding: 1.6em;
    }
    
    .copyright-link {
        font-size: 3em;
        padding-top: 1em;
    }
    
    .mobile_dropdown a:nth-child(even) {
        background-color: #0000001a;
    }

    .nav_button:nth-child(even) {
        filter: brightness(120%);
    }

    .footer {
        font-size: 2em;
    }
}